	<div class="discountTitle"><img src="/apl/images/20231023//txt01.png" alt="最大14,300円割引"><img src="/apl/images/txt02.png" alt="ご予約お問い合わせはこちら"></div>
	<div class="actionArea clearfix pt10">
		<a href="https://nyuko-yoyaku.com/bc6dc48b743dc5d013b1abaebd2faed2/?wid=4807" onClick="ga('send', 'event', 'Webフォーム','フッター','');"><img src="/apl/images/20240229/banner_web.gif"></a>
		<a href="https://nyuko-yoyaku.com/bc6dc48b743dc5d013b1abaebd2faed2/?wid=4809" onClick="ga('send', 'event', '予約フォーム','フッター','');"><img src="/apl/images/20240229/banner_reserve.gif"></a>
		<a href="tel:0120281144" onClick="ga('send', 'event', 'tel','フッター','');"><img src="/apl/images/20240229/banner_tel.gif"></a>
		<a href="tel:0534751158" onClick="ga('send', 'event', 'tel_助信店','フッター','');"><img src="/apl/images/20240229/banner_tel_sukenobu.gif"></a>
	</div>