<div id="footerSub">
		<p class="ttl">車のキズ・ヘコミ修理のご予約・お問い合わせはこちら</p>
		<ul class="inner">
			<li class="item itemLeft">
				<p>通話料無料！携帯電話OK!</p>
				<a href="tel:0120281144" class="telNumber">0120-28-1144</a>
				<span class="telComment">営業時間 /　平日・土・祝　9：00-18：00</span>
			</li>
			<li class="item itemRight">
				<a href="https://nyuko-yoyaku.com/bc6dc48b743dc5d013b1abaebd2faed2/?wid=13483" onclick="ga('send', 'event', '修理ご予約','フッターバナー','');"><img src="/bankin/images/20230929/barBox_btn.png" alt="約1分で鈑金見積り予約!"></a>
			</li>
		</ul>
	</div>