<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTWS4ZK"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header id="top">
	<div class="builder">
	
		<div id="navigation">
			<h1>車のキズ・ヘコミの修理は板金専門店へ<a href="/bankin/"><img src="/bankin/images/logo.png"  alt="アップル板金浜松"></a></h1>
			<div class="headTel">
				<span id="spBtn"><span><i class="fa fa-reorder fa-2x fa-fw"></i></span></span>
				<a href="tel:0120281144 " onClick="ga('send', 'event', 'tel','ヘッダー','');">0120-28-1144</a>携帯電話OK・通話無料!!
			</div>
			<nav id="gnavi">
				<ul class="clearfix">
					<li class="nav01"><a href="/bankin/"><span class="fa fa-caret-right blue"></span>&nbsp;ホーム</a></li>
					<li class="nav02"><a href="/bankin/case/"><span class="fa fa-caret-right blue"></span>&nbsp;アップル板金</a></li>
					<li class="nav03"><a href="/bankin/flow/"><span class="fa fa-caret-right blue"></span>&nbsp;作業の流れ</a></li>
					<li class="nav04"><a href="/bankin/staff/"><span class="fa fa-caret-right blue"></span>&nbsp;店舗・スタッフ紹介</a></li>
					<li class="nav05"><a href="/bankin/qa/"><span class="fa fa-caret-right blue"></span>&nbsp;Q&amp;A・お客様の声</a></li>
					<li class="smh"><a href="/bankin/inquiry/" onClick="ga('send', 'event', 'お問い合わせ',ナビ','');"><span class="fa fa-caret-right red"></span>&nbsp;お問い合わせ</a></li>
					<li class="smh"><a href="https://nyuko-yoyaku.com/bc6dc48b743dc5d013b1abaebd2faed2/sp/?wid=13483" onClick="ga('send', 'event', '修理ご予約','スマホナビ','');"><span class="fa fa-caret-right red"></span>&nbsp;板金見積り予約</a></li>
					<!--<li>
						<div class="sp_snsLink">
							<div class="snsBtn"><a href="" class="facebook"></a></div>
							<div class="snsBtn"><a href="" class="twitter"></a></div>
							<div class="snsBtn"><a href="" class="youtube"></a></div>	
						</div>
					</li>-->
				</ul>
			</nav>
		</div>
		
		<div id="subSet">
			<a href="/bankin/inquiry/" class="inqBtn mb10" onClick="ga('send', 'event', お問い合わせ','ナビ','');">お問い合わせ</a>
			<a href="https://nyuko-yoyaku.com/bc6dc48b743dc5d013b1abaebd2faed2/?wid=13483" class="resBtn" onClick="ga('send', 'event', '修理ご予約','ナビ','');"><img src="/apl/images/nav_ico06.png"><br><span class="fa fa-caret-right"></span>&nbsp;板金見積り予約</a>
		</div>
		
	</div>
</header>
<!--<div class="snsLink">
	<div class="snsBtn"><a href="" class="facebook"></a></div>
	<div class="snsBtn"><a href="" class="twitter"></a></div>
	<div class="snsBtn"><a href="" class="youtube"></a></div>	
</div>-->